<html lang="en">

<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Accordion - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#accordion" ).accordion();
  } );
  </script>



<script src="static/jquery.min.js">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){

    $("#btn1").click(function(){
        $("p").append(" <b>Appended text</b>.");
    });

    $("#btn2").click(function(){
        $("ol").append("<li>Appended item</li>");
    });
    $("#btn1").click(function(){
        $(".div1").append('<div class="panel panel-default" id ="accordion2"><div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><div id="questionDisplay2"></div></a></h4></div><div id="collapseTwo" class="panel-collapse collapse collapse"><div class="panel-body"><button id="directAnswer3" type="button">yes</button><button id="directAnswer4" type="button">no</button><button class="directAnswer" type="button">Skip</button></div></div></div>');
    });
    $("#directAnswer3").click(function(){
        $(".div1").append('<div class="panel panel-default" id ="accordion2"><div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><div id="questionDisplay2"></div></a></h4></div><div id="collapseTwo" class="panel-collapse collapse collapse"><div class="panel-body"><button id="directAnswerNew" type="button">yes</button><button id="directAnswer4" type="button">no</button><button class="directAnswer" type="button">Skip</button></div></div></div>');
        $("#directAnswerNew").click(function(){
        $(".div1").append('<div class="panel panel-default" id ="accordion2"><div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><div id="questionDisplay2"></div></a></h4></div><div id="collapseTwo" class="panel-collapse collapse collapse"><div class="panel-body"><button id="directAnswerNew" type="button">yes</button><button id="directAnswer4" type="button">no</button><button class="directAnswer" type="button">Skip</button></div></div></div>');
        
    });
    });

   

});
</script>
</head>








<body>

    <div class="panel panel-default" id ="accordion2"><div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><div id="questionDisplay2"></div></a></h4></div><div id="collapseTwo" class="panel-collapse collapse collapse"><div class="panel-body"><button id="directAnswer3" type="button">yes</button><button id="directAnswer4" type="button">no</button><button class="directAnswer" type="button">Skip</button></div></div></div>

<div class="div1">1</div>
<p>This is a paragraph.</p>
<p>This is another paragraph.</p>

<ol>
  <li>List item 1</li>
  <li>List item 2</li>
  <li>List item 3</li>
</ol>

<button id="btn1">Append div</button>
<button id="btn2">Append list items</button>


<div id="accordion">
  <h3>Section 1</h3>
  <div>
    <p>
    Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
    ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
    amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
    odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
    </p>
  </div>
  <h3>Section 2</h3>
  <div>
    <p>
    Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
    purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
    velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
    suscipit faucibus urna.
    </p>
  </div>
  <h3>Section 3</h3>
  <div>
    <p>
    Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
    Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
    ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
    lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
    </p>
    <ul>
      <li>List item one</li>
      <li>List item two</li>
      <li>List item three</li>
    </ul>
  </div>
  <h3>Section 4</h3>
  <div>
    <p>
    Cras dictum. Pellentesque habitant morbi tristique senectus et netus
    et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
    faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
    mauris vel est.
    </p>
    <p>
    Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
    inceptos himenaeos.
    </p>
  </div>
</div>
 

</body>
