<!DOCTYPE html>
<html>
<head>
    <!--Doing meta shit-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pyramid web application">

    <title>Rygbee</title>
    
    <!--Ze fontz-->
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700italic' rel='stylesheet' type='text/css'>

    <!--Jquery Google CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <!--Semantic UI CDN-->
    <script src="https://oss.maxcdn.com/semantic-ui/2.1.7/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://oss.maxcdn.com/semantic-ui/2.1.7/semantic.min.css">
        

    <style>
        body {
            width: 100vw;
            margin: 0px;
            height: auto;
            display: flex;
            flex-direction: column;
            background:  url("{{request.static_url('login:static/images/yellow-bricky-mixed-lines-115614.png')}}");
        }

        [big-header] .large.menu {
            margin: 10px;
        }

        [big-header] {
            width: 100%;
        }

        [big-header] .huge.header {
            font-size: 4em;
            padding-top: 10%;
            padding-bottom: 10%;
            text-align: center;
            color: rgba(0, 0, 0, 0.7) !important;
            font-weight: normal; 
        }

        [big-header] [branding] {
            text-align: center;
            font-size: 2.5em;
            margin-top: 3%;
            color: rgba(0, 0, 0, 0.6) !important;
            margin-bottom: 3%;
/*                font-family: 'Playfair Display', serif;*/
/*                font-weight: 800;*/
        }

        [content] .segment[quote] {                
            font-family: 'Playfair Display', serif;
            font-style: italic;
            font-size: 2em;
        }

        [content] .feature {                
            display: flex;
            flex-direction: row;
            padding-top: 30px;
            padding-bottom: 30px;
/*                flex-wrap: wrap     */
        }

        [content] .right.feature {                
            flex-direction: row-reverse;
            text-align: right;
        }

        [content] .feature .massive.icon {
            box-shadow: 0px 1px 2px 0px rgba(34, 36, 38, 0.15);
            border: 1px solid rgba(34, 36, 38, 0.15);
            font-size: 5.3em;
        }

        [content] .feature .description {
            margin-left: 30px;    
            margin-right: 30px;    
        }

        [content] .feature .description .large.header {
            font-size: 3em;    
            color: rgba(0, 0, 0, 0.7) !important;
        }

        [content] .feature .description .list {
            font-size: 1.3em;
        }

        </style>
    </head>
    <body>
        
        <div big-header>
            <div class="ui large stackalbe menu">
                
                <div class="item">
                    <img src="/images/logo_placeholder_0.png"> <b> RYGBEE </b>
                </div>
                
                <div class="right menu">
                    <a class="item">About Us</a>
                    <a class="item">Team</a>

                    <div class="item">
                        <div class="ui secondary button" login>Log in</div>
                    </div>  
                </div>
                
            </div>
            <div class="ui huge header">
                research better, together.
            <br>
                <button class="ui secondary basic massive button" signup>
                    sign up
                    <i class="right arrow icon"></i>
                </button>
              
                
            </div>
            
            <div branding>
                rygbee
            </div>
            
        </div>
        
        <div content class="ui very padded segment">
  
            <div class="ui basic center aligned segment" quote>
                because together we are greater than the sum of our parts
            </div>
            
            <div class="ui quote section divider"></div>
            
            <div class="ui divided container">
            
                <div find class="ui left feature">
                
                    <i class="circular massive search icon"></i>
                    <div class="description">
                        <div class="ui large header"> Find </div>
                        
                        <div class="ui list">
                        
                            <a class="item">
                                <i class="right triangle icon"></i>
                                <div class="content">
                                    <div class="header">People, Papers, Posts</div>
                                    <div class="description">
                                        Discover new avenues. Beyond your cliques.
                                    </div>
                                </div>
                            </a>
                            
                            <a class="item">
                                <i class="right triangle icon"></i>
                                <div class="content">
                                    <div class="header">Describe</div>
                                    <div class="description">
                                        As you would to a person. Afterall, we all express more than keywords.
                                    </div>
                                </div>
                            </a>
                            
                            <a class="item">
                                <i class="right triangle icon"></i>
                                <div class="content">
                                    <div class="header">Stay updated</div>
                                    <div class="description">
                                        Discover the upcoming publications, conferences and posts in your field of interests.
                                    </div>
                                </div>
                            </a>
                        
                        </div>
                        
                        
                    </div>
                
                </div>
                
                <div class="ui section divider"></div>
                
                 <div find class="ui right feature">
                
                    <i class="circular massive users icon"></i>
                    <div class="description">
                        <div class="ui large header"> Network </div>
                        
                        <div class="ui right aligned list">
                        
                            <a class="item">
                                <div class="right floated content">
                                    <i class="left triangle icon"></i>
                                </div>
                                <div class="content">
                                    <div class="header">Evolve Trust</div>
                                    <div class="description">
                                        And grow your research networks.
                                    </div>
                                </div>
                            </a>
                            
                            <a class="item">
                                <div class="right floated content">
                                    <i class="left triangle icon"></i>
                                </div>
                                <div class="content">
                                    <div class="header">Exchange ideas.</div>
                                    <div class="description">
                                        With your peers, your students, with communities
                                    </div>
                                </div>
                            </a>
                            
                            
                            <a class="item">
                                <div class="right floated content">
                                    <i class="left triangle icon"></i>
                                </div>
                                <div class="content">
                                    <div class="header">Give back</div>
                                    <div class="description">
                                        Work on junior jobs and get introduced to new research fields.
                                    </div>
                                </div>
                            </a>
                        
                        </div>
                    </div>
                
                </div>
                
                <div class="ui section divider"></div>
                
                 <div find class="ui feature">
                
                    <i class="circular massive puzzle icon"></i>
                    <div class="description">
                        <div class="ui large header"> Collaborate </div>
                        
                        <div class="ui list">
                        
                            <a class="item">
                                <i class="right triangle icon"></i>
                                <div class="content">
                                    <div class="header">With people working on similar problems</div>
                                    <div class="description">
        Not just on the basis of similar research interests.
                                    </div>
                                </div>
                            </a>
                            
                            <a class="item">
                                <i class="right triangle icon"></i>
                                <div class="content">
                                    <div class="header">Put the internet to work for you</div>
                                    <div class="description">
                                         Communicate. Share tasks, files, data and messages. You're covered.
                                    </div>
                                </div>
                            </a>
                            
                            <a class="item">
                                <i class="right triangle icon"></i>
                                <div class="content">
                                    <div class="header">One workspace</div>
                                    <div class="description">
                                        Manage multiple projects, with different teams within one seamlessly integrated workspace
                                    </div>
                                </div>
                            </a>
                        
                        </div>
                        
                    </div>
                
                </div>
            
            </div>
                
            
            
            
        
        
        </div>
        
        <script>
            $('[login]').click( function() {
                window.location.replace("/login")
            });

            $('[signup]').click( function() {
                window.location.replace("/signup")
            });
        </script>
    </body>
</html>