{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Start the survey
{% endblock %}

{% block content %}
<div class="container">
    <h3>Welcome {{ current_user.username }}</h3>
    This survey is designed to study the interactions of the user with IQA in order to find the concise answer given a
    natural language question. <br/>
    Please click the below button to start the survey.
    <hr/>
    <a href="{{ url_for('SurveyView:index') }}">Star IQA Survey</a><br />
    <a href="{{ url_for('FreeQuestionSurveyView:index') }}">Star IQA Survey (Free Question)</a>

</div> <!-- /container -->
{{ super() }}
{% endblock %}