<html lang="en">
{% extends "bootstrap/base.html" %}

{% block title %}
Demo App
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
{% endblock %}

{% block content %}
<script src="static/jquery.min.js">
</script>
<script src="static/index.js">
</script>
<script>
$(document).ready(function(){
     
     $(".ExhiClick").click(function(){
        $.get("/mystringa",function(data, status){
            document.getElementById("questionDisplay").innerHTML =(data.question);
        });
    });
     $("#questionDisplay").click(function(){
        $.get("/mystringa",function(data, status){
            document.getElementById("q3").innerHTML =(data.IO.surface);
            document.getElementById("directAnswer1").innerHTML =(data.IO.values[0]);
            document.getElementById("directAnswer2").innerHTML =(data.IO.values[1]);            
        });
    });
     $("#directAnswer1").click(function(){
        document.getElementById("accordion2").style.visibility="visible";
        $.get("/mystringc",function(data, status){
            document.getElementById("questionDisplay2").innerHTML =(data.IO.surface);
        });
    });
     $("#directAnswer2").click(function(){
        document.getElementById("accordion2").style.visibility="visible";
        $.get("/mystringc",function(data, status){
            document.getElementById("questionDisplay2").innerHTML =(data.IO.surface);
        });
    });
     $("#directAnswerSk").click(function(){
        document.getElementById("accordion2").style.visibility="visible";
        $.get("/mystringc",function(data, status){
            document.getElementById("questionDisplay2").innerHTML =(data.IO.surface);
        });
    });

     $("#questionDisplay2").click(function(){
        $.get("/mystringc",function(data, status){
            document.getElementById("directAnswer3").innerHTML =(data.IO.values[0]);
            document.getElementById("directAnswer4").innerHTML =(data.IO.values[1]);            
        });
    });
     
    $("#directAnswer3").click(function(){
    
        $("#accordion").append('<div class="panel panel-default" id ="accordion2"><div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><div id="questionDisplayNew">municipality</div></a></h4></div><div id="collapseThree" class="panel-collapse collapse collapse"><div class="panel-body"><button id="directAnswerNew" type="button">yes</button><button id="directAnswerNew2" type="button">no</button><button class="directAnswer" type="button">Skip</button></div></div></div>');
        $.get("/mystringc",function(data, status){
            document.getElementById("directAnswerNew").innerHTML =(data.IO.values[0]);
            document.getElementById("directAnswerNew2").innerHTML =(data.IO.values[1]);            
        });

        $("#directAnswerNew").click(function(){
        $("#accordion").append('<div class="panel panel-default" id ="accordion3"><div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><div id="questionDisplayNew">municipality</div></a></h4></div><div id="collapseFour" class="panel-collapse collapse collapse"><div class="panel-body"><button id="directAnswerNew3" type="button">yes</button><button id="directAnswerNew4" type="button">no</button><button class="directAnswer" type="button">Skip</button></div></div></div>');
            
            $.get("/mystringc",function(data, status){
            document.getElementById("directAnswerNew3").innerHTML =(data.IO.values[0]);
            document.getElementById("directAnswerNew4").innerHTML =(data.IO.values[1]);    
            });


        $("#directAnswerNew3").click(function(){
        $("#accordion").append('<div class="panel panel-default" id ="accordion3"><div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"><div id="questionDisplayNew">municipality</div></a></h4></div><div id="collapseFive" class="panel-collapse collapse collapse"><div class="panel-body"><button id="directAnswerNew5" type="button">yes</button><button id="directAnswerNew6" type="button">no</button><button class="directAnswer" type="button">Skip</button></div></div></div>');
            
            $.get("/mystringc",function(data, status){
            document.getElementById("directAnswerNew5").innerHTML =(data.IO.values[0]);
            document.getElementById("directAnswerNew6").innerHTML =(data.IO.values[1]);    
            });

            });
        });
        
    });
 
   


});
</script>

<button class="btna" onclick="appendText()">btna</button>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Interactive QA </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
        
            <h1>Interactive QA -draft</h1>

            <!--Search Bar-->

            <div class="row">
              <div class="col-lg-6">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Name the municipality of Robert Clemente Bridge?" aria-label="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button">Go!</button>
                    </span>
                </div>
              </div>
            </div>


            <div class="row">
                <div class="sup">
                    <p>    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </br>
                           &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </br>
                    </p>
                    
                </div>
            </div>

            <div class="questionSession">

                <div class="tit">
                    <p>Exhibit Question: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button class="ExhiClick">go</button> </p>
                </div>

                <div class = "qusetion">
                </div>

                <!--Feedback Area (collapsable feedback questions)-->

                <div class="feedback">

                    <!--(collapsable feedback questions)-->


                    <div class="panel-group" id="accordion">
                        
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseOne">
                                        <div id="questionDisplay">
                                            
                                        </div>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse collapse">
                                <div class="panel-body">
                                    <div id="q3">
                                        
                                    </div>
                                    <button id="directAnswer1" type="button" ></button>
                                    <button id="directAnswer2" type="button" ></button>
                                    <button id="directAnswerSk" type="button">Skip</button>
                                </div>
                            </div>
                        </div>
                    
                        <div class="panel panel-default" id ="accordion2" style="visibility: hidden">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseTwo">
                                        <div id="questionDisplay2">
                                            
                                        </div>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse collapse">
                                <div class="panel-body">
                                    <button id="directAnswer3" type="button"></button>
                                    <button id="directAnswer4" type="button"></button>
                                    <button class="directAnswer" type="button">Skip</button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                    <!--(Answer Section)-->
                   



                </div>

            </div>


        
    </div><!-- /.container -->
{% endblock %}