{% extends "layout.html" %}

{% block title %}
Interactive Question Answering (SDA Research)
{% endblock %}

{% block content %}
<div id="message"
     style="position: absolute;width: 100%;height: 100%;background-color: #fff;opacity: 0.9;display: none;z-index: 100;text-align: center;">
</div>
<div id="question" style="margin-left: 10px">
    <h2>Question: {{ data['question'] }}</h2>
    Question. ID: {{ data['qid'] }}
</div>
<div style="margin: 0 10px">
    <div id="interactions" style="width: 45%; float:left">
        <div>
            <h4>{{ data['IO']['surface'] }}</h4>
            <div>
                {{ data['IO']['values'] }}
                <div>
                    <label><input type="radio" name="io-1" value="True">Yes</label>
                    <label><input type="radio" name="io-1" value="False">No</label>
                </div>
                <button id="io-1-submit">Submit answer</button>
            </div>
        </div>
    </div>
    <div id="sparql" style="width: 50%; float: right;">
        IQA interpretation of the input question:
        <div id="query">
            <pre style='white-space: pre-wrap;'>{{ data['query'] }}</pre>
        </div>
        <div id="sparql2nl">
            <strong>{{ data['sparql2nl'] }}</strong>
        </div>
        <hr/>
        <a href="{{ url_for('correct') }}">Correct! if this is the correct interpretation of the question.</a>
        <hr/>
        <a href="{{ url_for('skip') }}?reason=notunderstandle">Skip if you don't understand the question</a>
        <hr/>
        <a href="{{ url_for('skip') }}">Skip if you are bored and want to skip the question</a>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"/>

<script>
    var $interactions_accordion = $("#interactions").accordion({
        header: "> div > h4",
        collapsible: true,
        active: 0,
        autoHeight: false,
        autoActivate: true
    });

    click_handler = function () {
    };

    click_handler = function () {
        clicked_id = this.id.substring(0, this.id.indexOf('-', 3))
        selected_option = $('input[name=' + clicked_id + ']:checked').val();
        if (selected_option != undefined) {
            $message = $('#message')
            $message.html('<h1>Loading. Please wait...</h1>');
            $message.show();
            $.post("interact", {'answer': selected_option}, function (data, status) {
                $message.hide();
                if (data['command'] == 'next_question') {
                    setTimeout(function () {
                        window.location.replace("survey");
                    }, 2000);
                    $message.html('<h1>Well done! Let\'s go for the next question</h1>');
                    $message.show();

                    return false;
                }

                $('#sparql2nl').html('<b>' + data['sparql2nl'] + '</b>');
                $('#query').html($('<pre style="white-space: pre-wrap;"></pre>').text(data['query']));
                if (data['IO'] != undefined) {
                    new_id = 'io-' + (parseInt(clicked_id.substring(clicked_id.indexOf('-') + 1)) + 1)
                    var newDiv = "<div>\n" +
                        "        <h4>" + data['IO']['surface'] + "</h4>\n" +
                        "        <div>\n" + data['IO']['values'] +
                        "            <div>\n" +
                        "                <label><input type=\"radio\" name=\"" + new_id + "\" value=\"True\">Yes</label>\n" +
                        "                <label><input type=\"radio\" name=\"" + new_id + "\" value=\"False\">No</label>\n" +
                        "            </div>\n" +
                        "            <button id=\"" + new_id + "-submit\">Submit answer</button>\n" +
                        "        </div>\n" +
                        "    </div>";
                    $('#interactions').prepend(newDiv)
                    $('#interactions').accordion("refresh");
                    $("#" + new_id + "-submit").click(click_handler);
                    $interactions_accordion.accordion({active: 0})
                }
            });
        }
    };
    $('#io-1-submit').click(click_handler);
</script>
{%- endblock scripts %}