
/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
    font-size: 20px;
    color: #333333;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 50px;
    padding-bottom: 50px;
}

.input-group-btn {
    padding-left: 30px;
}

.sup{
    font-size: 15px;
    color: #444444;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 80px;
    line-height:90%
}
.tit{
    font-size: 30px;
}
.answerSection{
    font-size:20px;
}